:root{
    --bg-spippet: hsl(240, 30%, 18%);
}
.snippet-item{
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-spippet);
    width: 600px;
}

.snippet-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.snippet-title{
    font-size: 18px;
}
.code{
    padding: 15px;
    margin-top: 15px;
    border: var(--border);
}